body{
    background-color: rgb(189, 209, 206);
    font-family: 'EB Garamond', serif;
}


.utube{
    position: relative;
    width: 200px;
    height: 200px;
}

.media-section{
    padding: 4%;
}

.col-md-4{
    display: flex;
    position: relative;
    /* padding-left: 0px;
    padding-right: 0px; */
}

/*footer*/

