@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
/* html,
body {
    width: 100%;
    height: 100%;
} */

/* .our-team{
    margin-top: 10%;
    font-size: 3rem;
} */


@media screen and (max-width: 1000px){
    .carousel-item h2{
        font-size: 10px;
    }
}
.main-slide{
    background-color: #C9D439;
}

.carousel-item{
    top: 25%;
}
.carousel-item a{
    
    text-decoration: none;
}
.carousel-item h2{
    font-size: 200px;
    color: #fff;
}
.carousel-inner{
    
    height: 600px;
    /* background-position: center; */
    width: 100%;
    background-repeat: no-repeat;
      background-size: 100% 100%; 
    /* background-image: url(../images/team-bg.png); */
}
/**********************vision***************************/


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(63, 163, 180);
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    min-height: 300px;
    border: 2px #000 solid;
    color: #fff;
  }

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    background: rgb(121, 180, 190);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #000;
  }

.vision-text, .mission-text{
    padding: 3%;
}

/**************************************team*********************************/
.heading {
    margin: 0 0 20px 0;
    text-transform: none;
    color: rgba(254, 82, 76, 1);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.icons:link,
.icons:active,
.icons:visited{
    color:rgba(255,255,255,1);
}

.icons:hover{
    color:rgba(255,255,255,0.6);
}

.gray {
    color: #a5a5a5;
}

.team{
    margin:40px;
}

.team-member {
    margin: 15px 25px;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    height: 250px;
    min-width: 60%;
}

.team-member figcaption p {
    font-size: 16px;
}

.last-row{
    margin: 2% 7%;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    padding: 50px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgb(144, 214, 231);
    /* Primary color, can be changed via colors.css */
    
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/*footer*/

