@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

body{
    font-family: 'EB Garamond', serif;
  }
  
  @media (max-width: 992px){
    .about-us{
        font-size: 10px;
    }
    
    .vision{
        font-size: 15px;
    }

    .mission{
        font-size: 10px;
    }
}
.main-slide{
    background-color: #05480c;
}

.carousel-item{
    color: #fff;
    top: 10%;
}
.carousel-item a{
    color: #fff;
    text-decoration: none;
}

.about-us{
    font-size: 200px;
}

.carousel-item h5{
    text-align: center;
    font-size: 80px;
}

.carousel-item p{
    text-align: justify;

}
.carousel-control-prev, .carousel-control-next{
    width: 3%;
}
.mission{
    font-size: 27px;
}

.vision{
    font-size: 30px;
}
.carousel-inner{
    height: 500px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-repeat: no-repeat;
      background-size: 100% 100%; 
    /* background-image: url(../images/team-bg.png); */
}

/**************************************team*********************************/
.heading {
    margin: 0 0 20px 0;
    text-transform: none;
    color: #05480c;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.icons:link,
.icons:active,
.icons:visited{
    color:rgba(255,255,255,1);
}

.icons:hover{
    color:rgba(255,255,255,0.6);
}

.gray {
    color: #a5a5a5;
}

.team{
    margin:40px;
}

.team-member {
    margin: 15px 25px;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    height: 270px;
    width: 260px;
    border-radius: 1rem;
    /* min-width: 65%; */
}

.team-member figcaption p {
    font-size: 16px;
}

.last-row{
    margin: 2% 7%;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    padding: 50px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: #e1ab01;
    /* Primary color, can be changed via colors.css */
    
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
/*footer*/

